@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.topTitle {
  background: none !important;
  border-left: 5px solid #ef5b70 !important;
  padding: 14px 16px !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 1.43 !important;
  color: #6f6e6e !important;
  text-transform: uppercase;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion-item:not(:last-child) {
  margin-bottom: 18px;
}

.accordion-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.accordion-body li {
  list-style-type: none;
}

.accordion-body li a {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 2.36;
  color: #6f6e6e;
}

.accordion-body ul {
  padding: 0;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0 !important;
}

.products--Settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products--Settings-top__left {
  width: 203px;
}

.product--Settings-top___title {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #6f6e6e;
  text-transform: uppercase;
}

.product--Settings-top__left_links {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.86;
  color: #dfdfdf;
  margin-top: 25px;
  margin-left: -7px;
}

.product--Settings-top__left_links a {
  color: #6f6e6e;
  text-decoration: none;
  padding-left: 7px;
}

.product--Settings-top__left_links a::after {
  content: '|' !important;
  margin-left: 7px;
}

.product--Settings-top__left_links a:last-child::after {
  display: none;
}

.product--Settings-top__left_links a:hover {
  color: #6f6e6e;
}

.products--Settings-top__center {
  width: 280px;
}

.products--Settings-top__center_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -17px;
  margin-top: 25px;
}

.products--Settings-top__center_title > div {
  width: 70px;
  padding-left: 17px;
}

.products--Settings-top__center_title > div label {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.43;
  color: #6f6e6e;
}

.price--Range {
  width: 262px;
  height: 14px;
  background: url(img/priceRange.svg) no-repeat;
  margin-top: 25px;
}

.price--Values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.86;
  color: #6f6e6e;
  margin-top: 10px;
}

.product--Sorting {
  min-height: 50px;
  margin-top: 28px;
  padding: 10px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--Sorting .sorting--Unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--Sorting .sorting--Unit:first-child {
  margin-right: 10px;
}

.product--Sorting .sorting--Unit div,
.product--Sorting .sorting--Unit select {
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 10px;
  font-family: Lato;
  font-size: 14px;
  color: #6f6e6e;
}

.product--Sorting .sorting--Unit div {
  border-right: none;
}

.product--Sorting .sorting--Unit select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(img/caret-down-solid.svg) no-repeat white right;
  background-position-x: calc(100% - 8px);
  background-size: 10px;
}

.product--Sorting .sorting--Unit #select--Sorting-right {
  width: 63px;
}

.product--Sorting .sorting--Unit #select--Sorting-left {
  width: 86px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  height: 100px;
  border-bottom: solid 1px #ececec;
}

.header a:hover {
  color: inherit;
}

.header .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutBrand a:hover {
  color: inherit;
}

.container {
  width: 1140px !important;
  margin: 0 auto;
  padding: 0;
}

.header .formHeader {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-left: 37px;
  overflow: hidden;
}

.logo {
  background: url(img/logo.png) no-repeat;
  width: 165px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.68px;
  color: #222;
}

.logo .wordDLogo {
  font-weight: 900;
  color: #f16d7f;
}

.browseHeader {
  width: 87px;
  border-right: solid 1px #e6e6e6;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.29;
  letter-spacing: 0.35px;
  color: #222;
}

.browseHeader i {
  margin-left: 8px;
}

.header .formHeader input {
  border: none;
  padding: 14px 16px;
  font-family: inherit;
}

.header .formHeader button {
  width: 35px;
  border: none;
  border-left: solid 1px #e6e6e6;
  color: #a4a4a4;
  background: none;
}

.cart--Link {
  margin-left: auto;
  margin-right: 26px;
}

.accountBtn {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 2.13;
  letter-spacing: 0.38px;
  color: #fff;
  border: none;
}

.accountBtn i {
  margin-left: 8px;
}

.topNav {
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topNav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 51px;
  text-transform: uppercase;
  color: #222;
  border-bottom: 3px solid transparent;
}

.topNav a:hover {
  border-bottom: 3px solid #ef5b70;
  color: #222;
}

.topNav a:not(:last-child) {
  margin-right: 40px;
}

.mainPromo {
  height: 614px;
  background: #e8e8e8;
}

.mainPromo .container {
  height: inherit;
  background: url(img/mainPromo.png) no-repeat right 50px top 6px;
  background-size: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainPromoText {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.mainPromoTextTop {
  font-weight: 900;
  color: #222;
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 0.68;
}

.mainPromoTextBottom {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 11.3px;
  color: #222;
}

.mainPromoTextBottom span {
  color: #f16d7f;
}

.mainOffers {
  margin-top: 98px;
  height: 823px;
  position: relative;
}

.mainOffers .offerOne {
  width: 560px;
  height: 542px;
  background: url(img/offer1.jpg) no-repeat;
}

.mainOffers .offerLabel {
  padding: 16px 20px;
  background: white;
  display: inline-block;
  margin-top: 26px;
}

.mainOffers .offerLabelTop {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  color: #222;
}

.mainOffers .offerLabelBottom {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #f16d7f;
}

.mainOffers .offerTwo {
  width: 560px;
  margin-top: 20px;
  height: 261px;
  background: url(img/offer2.jpg) no-repeat;
}

.mainOffers .offerThree {
  width: 560px;
  height: 261px;
  background: url(img/offer3.jpg) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.mainOffers .offerFour {
  width: 560px;
  height: 542px;
  background: url(img/offer4.jpg) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

.featuredItemsWrap {
  margin-top: 100px;
}

.featuredItemHeading {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.75px;
  color: #222;
  text-align: center;
  margin: 0;
}

.featuredItemDesc {
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #9f9f9f;
  margin-top: 16px;
  text-align: center;
}

.featuredItemImageWrap {
  height: 281px;
  position: relative;
}

.featuredDarkness {
  background-color: rgba(58, 56, 56, 0.83);
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featuredDarkness button {
  margin-top: 98px;
  background: none;
  border: 1px solid white;
  width: 123px;
  height: 39px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.featuredDarkness button img {
  margin-right: 8px;
}

.featuredImg {
  width: 100%;
  height: 100%;
}

.featuredItems {
  margin-top: 60px;
}

.featuredItems:after {
  display: block;
  content: '';
  clear: both;
}

.featuredItem {
  min-height: 364px;
  width: 261px;
  background-color: #fff;
  float: left;
}

.featuredItem:not(:nth-child(4n)) {
  margin-right: 32px;
}

.featuredItem:nth-child(n+5) {
  margin-top: 39px;
}

.featuredItem:hover .featuredDarkness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featuredItem:hover {
  -webkit-box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.featuredItemSpecs {
  padding: 19px 15px;
  height: 83px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featuredItemName {
  font-size: 13px;
  color: #222;
}

.featuredItemPrice {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  margin-top: 12px;
}

.featuredBtn {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 58px auto 113px;
}

.featuredBtn img {
  margin-left: 9px;
}

.specialOffer {
  height: 529px;
}

.specialOffer .specialOfferLeft {
  float: left;
  padding-top: 146px;
  padding-left: 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 767px;
  font-weight: 700;
  height: inherit;
  background: url(img/offerForWomen.jpg) no-repeat;
  color: #fff;
}

.specialOffer .spcialOfferRight {
  background-color: #222;
  width: 373px;
  height: inherit;
  float: right;
  padding-top: 37px;
  padding-right: 43px;
  padding-left: 36px;
  padding-bottom: 66px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.specialOffer .specialOfferTopSign {
  font-size: 53.7px;
  line-height: 1.2;
  letter-spacing: 0.025em;
}

.specialOffer .specialOfferTopSign span {
  color: #f16d7f;
}

.specialOffer .specialOfferBottomSign {
  font-size: 32.2px;
}

.specialOffer .specialOfferUnit {
  padding-left: 78px;
  background-repeat: no-repeat;
  color: white;
}

.specialOffer .specialOfferUnit h2 {
  margin-top: 0;
  margin-bottom: 14px;
}

.specialOffer .specialOfferUnit div {
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-align: justify;
}

.specialOffer .specialOfferUnit:nth-child(1) {
  background-image: url(img/offerDetails1.png);
}

.specialOffer .specialOfferUnit:nth-child(2) {
  background-image: url(img/offerDetails2.png);
}

.specialOffer .specialOfferUnit:nth-child(3) {
  background-image: url(img/offerDetails3.png);
}

.specialOffer .specialOfferUnit:not(:last-child) {
  margin-bottom: 36px;
}

.reviewAndSubscribe {
  height: 438px;
  background: url(img/subscribe.jpg) no-repeat, rgba(242, 242, 242, 0.5);
  background-size: cover;
  margin-top: 97px;
  background-blend-mode: overlay;
  background-position: left bottom;
}

.reviewAndSubscribe .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  border-right: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews,
.subscibe {
  width: calc(50% - 0.5px);
}

.reviewsInside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 497px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reviewsContent {
  width: 386px;
}

.reviewsText {
  font-size: 16px;
  font-style: italic;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: #222224;
}

.reviewsName {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: #f16d7f;
  margin-top: 3px;
}

.reviewsCity {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: 0.3px;
  color: #222224;
}

.reviewsSwitcher {
  width: 140px;
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviewsSwitcher div {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.reviewsSwitcher div:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 92px;
}

.subscribeHeading {
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #222224;
  margin-bottom: 8px;
}

.subscribeText {
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #222224;
  margin-bottom: 35px;
}

.subscribe input {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  border: none;
  outline: none;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  float: left;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  font-family: inherit;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  font-family: inherit;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  font-family: inherit;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  line-height: 3.86;
  letter-spacing: 0.35px;
  color: rgba(34, 34, 36, 0.67);
  font-family: inherit;
}

.subscribe button {
  background-color: #f16d7f;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #fff;
  width: 104px;
  height: 46px;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
  border: none;
}

.footer {
  height: 458px;
  padding-top: 129px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutBrandText {
  width: 427px;
  margin-top: 29px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #898989;
}

.aboutBrandTextBottom {
  margin-top: 16px;
}

.companyList ul li {
  list-style-type: none;
}

.companyListHeading {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  color: #f16d7f;
  margin-bottom: 58px;
}

.companyListNavigation {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #898989;
}

.companyListNavigation div a {
  text-decoration: none;
  color: #898989;
}

.companyListNavigation div:not(:last-child) {
  margin-bottom: 20px;
}

.rightsFooter {
  height: 79px;
  background-color: #e6e6e6;
}

.rightsFooterText {
  margin-top: 32px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #7a7a7a;
  height: inherit;
}

.flexRights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}

.rightsFooterIcons i {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #fff;
}

.rightsFooterIcons a {
  text-decoration: none;
}

.rightsFooterIcons i:hover {
  color: #f16d7f;
  cursor: pointer;
  background-color: #fff;
}

.rightsFooterIcons i:not(:last-child) {
  margin-right: 8px;
}

.new--arrivals {
  height: 148px;
  background-color: #f8f3f4;
}

.new--arrivals .content--new_arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new--arrivals .content--new_arrivals h2 {
  margin: 65px 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  color: #f16d7f;
}

.new--arrivals .content--new_arrivals p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #636363;
  margin: 69px 0;
  text-transform: uppercase;
}

.new--arrivals .content--new_arrivals p span {
  font-weight: bold;
  color: #f16d7f;
}

.products--grid {
  margin-top: 90px;
}

.products--grid .products--grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: solid 1px #eaeaea;
}

.products--grid .products--grid__row:not(:last-child) {
  margin-bottom: 22px;
}

.products--grid .products--grid__row > div:first-child {
  width: 450px;
}

.products--grid .products--grid--names {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: -0.2px;
  color: #222;
}

.products--grid .products--grid--names:not(:first-child),
.products--grid .product--grid__unit {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products--grid .product--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products--grid .product--specs__wrap {
  margin-left: 21px;
  padding-top: 13px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products--grid .products--name {
  font-size: 13px;
  color: #222;
  text-transform: uppercase;
  font-weight: 900;
}

.products--grid .product--specs {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.54;
  color: #575757;
}

.products--grid .product--specs span {
  font-weight: 300;
  color: #6f6e6e;
  margin-left: 5px;
}

.products--grid .product--grid__unit {
  font-size: 13px;
  line-height: 1.54;
  color: #656565;
}

.products--grid .product--grid__unit input {
  width: 54px;
  height: 30px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  text-align: center;
}

.products--grid .product--grid__unit i {
  color: #c0c0c0;
  font-size: 15px;
}

.btn--shopping__cart {
  margin-top: 44px;
}

.btn--shopping__cart .top--btn__shopping_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn--shopping__cart .top--btn__shopping_cart button {
  width: 235px;
  height: 50px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  cursor: pointer;
}

.btn--shopping__cart .bottom--btn__shopping_cart {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn--shopping__cart .bottom--label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.btn--shopping__cart .shipping--Address input {
  width: 355px;
  height: 45px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  outline: 0;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--shopping__cart .shipping--Address > input:not(:last-child) {
  margin-bottom: 20px;
}

.btn--shopping__cart .bottom--label__btn {
  width: 100px;
  height: 35px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--shopping__cart .shopping--cart__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--shopping__cart .shopping--cart__input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  box-sizing: border-box;
}

.btn--shopping__cart .shopping--cart__input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  box-sizing: border-box;
}

.btn--shopping__cart .shopping--cart__input:-moz-placeholder {
  /* Firefox 18- */
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  box-sizing: border-box;
}

.btn--shopping__cart .about--btn__shopping_cart {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 28px;
}

.btn--shopping__cart .coupon--discount input {
  width: 355px;
  height: 45px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  margin-top: 24px;
  outline: 0;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--shopping__cart .coupon--discount button {
  margin-top: 25px;
  width: 118px;
  height: 35px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--shopping__cart .checkout {
  width: 360px;
  height: 227px;
  background-color: #f5f3f3;
}

.btn--shopping__cart .total {
  padding: 40px 42px 22px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn--shopping__cart .total--Top {
  font-size: 11px;
  color: #4a4a4a;
}

.btn--shopping__cart .total--Bottom {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 14px;
}

.btn--shopping__cart .total--Top span {
  margin-left: 15px;
}

.btn--shopping__cart .total--Bottom span {
  margin-left: 15px;
}

.btn--shopping__cart .checkout button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--shopping__cart .btn--checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17px;
}

.btn--shopping__cart .line--checkout {
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
}

.btn--shopping__cart .line--checkout__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel--Wrap {
  position: relative;
}

.carousel--Wrap img {
  width: 100%;
}

.carousel--Wrap .slide--Left,
.carousel--Wrap .slide--Right {
  position: absolute;
  top: calc(50% - 47px / 2);
  font-size: 24px;
  color: #fff;
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d8d8d8;
}

.carousel--Wrap .slide--Right {
  right: 0;
}

.container--Mini--women {
  width: 642px;
  margin: 0 auto;
}

.product--Details {
  position: relative;
  height: 809px;
  margin-top: -86px;
  border: solid 1px #eaeaea;
  background-color: #fff;
}

.product--Details .women--Collection--info .description--Women--collection {
  margin-top: 67px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  color: #5e5e5e;
}

.product--Details .women--Collection--info .about--Product--women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product--Details .women--Collection--info .about--Product--women p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #b9b9b9;
}

.product--Details .women--Collection--info .about--Product--women span {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #2f2f2f;
}

.product--Details .women--Collection--info .price--Product--women {
  margin-top: 37px;
  margin-bottom: 43px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ef5b70;
}

.product--Details .women--Collection--form {
  width: 537px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product--Details .women--Collection--form label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #2f2f2f;
}

.product--Details .women--Collection--form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(img/selectCaret.png) no-repeat right 10px center, white;
}

.product--Details .women--Collection--form select,
.product--Details .women--Collection--form input {
  width: 165px;
  height: 35px;
  border: solid 1px #eaeaea;
  background-color: #fff;
  outline: none;
  margin-top: 16px;
  font-family: inherit;
  color: #bcbcbc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 15px;
}

.product--Details .women--Collection--form #Product--Color {
  padding-left: 37px;
  background: url(img/red.jpg) no-repeat 14px center, url(img/selectCaret.png) no-repeat right 10px center, white;
}

.product--Details .add--To--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 537px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
  outline: none;
  height: 55px;
  border: solid 1px #ef5b70;
  background-color: #fff;
  margin-top: 28px;
  cursor: pointer;
}

.product--Details .add--To--cart img {
  margin-right: 15px;
}

.product--Details .women--Collection--info h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 73px;
  margin-bottom: 15px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #f16d7f;
}

.product--Details .line--Before--form {
  width: 642px;
  height: 1px;
  background-color: #eaeaea;
  margin-bottom: 63px;
}

.product--Details .women--Collection--info h2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.33;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-top: 18px;
  text-align: center;
}

.pink--Lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pink--Lines .un--Active {
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}

.pink--Lines .active--Women {
  height: 3px;
  width: 63px;
  background-color: #ef5b70;
}

.you--May--like__olso {
  margin-top: 119px;
}

.you--May--like__olso h2 {
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;
}

.col-md-3-margin {
  margin-top: 59px !important;
}

.col-md-9-margin {
  margin-top: 59px !important;
}
/*# sourceMappingURL=style.css.map */